{% load staticfiles %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Advanced Javascript Tutorial Files</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  <style>
  </style>

  <link rel="stylesheet" href="{% static 'styles.css' %}">
<!--   <link rel="manifest" href="manifest.json"> -->

</head>

<body>

  <header>
    <h1>Test2</h1>
    <select id="sourceSelector"></select>
  </header>
  <main></main>

<h1>hehehe</h1>

<img src="{% static 'growth.jpg' %}" alt="Smiley face" height="42" width="42">


<script type="text/javascript">
  



  
</script>



</body>










</html>


